<!DOCTYPE html>
<html>
  <head>
    <title><%= Games %></title>
    <%include ./partials/head%>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
    <%include ./partials/header%>
    </header>
    <h1><%= Games %></h1>
    <p>Welcome to Random Games <%= title %></p>
  </body>
</html>
